<!DOCTYPE html>

<html>
	<head>
		
	</head>
	<body>
		<h1>Create new Contact</h1>

		<form action="/contacts" method="post" class="pure-form pure-form-aligned">
			<table>
				<fieldset>
					<legend>Form</legend>
					<label>
						First Name
						<input type="text" name="first_name" id="first_name" placeholder="First Name">
					</label>
					<label>Last Name
						<input type="text" name="last_name" id="last_name" placeholder="Last Name">
					</label>
					<label>Email
						<input type="text" name="email" id="email" placeholder="Email">
					</label>
					<label>
						Note
						<input type="text" name="note" id="note" placeholder="Note">
					</label>
					<input type="submit" name="Submit">
				</fieldset>
			</table>		
		</form>
	</body>
</html>

